.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* unvisited link */
nav{
  background-color: rgb(58, 8, 8);
  height: 80px;
}

.nav-item:link {
  color: none;
}


.nav-item:visited {
  background-color: none;
}


.nav-item:hover {
  color: none;
}


.nav-item:active {
  background-color: none;
}

a.navbar-brand{
  color: orange!important;
  padding-left: 175px ;
  font-size: 30px;
}

a.nav-link{
  top: 50%;
  color:white!important;
  z-index: +1;
}
div.collapse{

  margin-left: 50%;
  z-index: +1;
}
#pills-home-tap{

}
#pills-profile-tab{

}
#pills-contact-tap{
  
}
#pills-contact-tap{
  
}

li.nav-item{
  margin-top: 20%;
height: 100px;
}

a.active{
  
  background-color: orange!important;
}

button.navbar-toggler{
  background-color: orange;
}

ul.nav{
  height: 100px;
  top:100%;
}
